<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Do you allow this app to know your current location?</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Do you allow this app to know your current location?</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Do you allow this app to know your current location?</string>
	<key>appid</key>
	<string>d4277b87ee5c71a468ec0c3dc311a724</string>
	<key>apiUrl</key>
	<string>https://api.openweathermap.org/data/2.5/</string>
	<key>iconUrl</key>
	<string>https://openweathermap.org/img/wn/</string>
</dict>
</plist>
